<h3>Chamados Encerrados</h3>
<hr>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Chamado</th>
                <th scope="col">Local</th>
                <th scope="col">Ocorrencia</th>
                <th scope="col">Atendimento</th>
                <th scope="col" class="text-center">Alterado</th>
                <th scope="col" class="text-center">Ação</th>
            </tr>
        </thead>
        <tbody>
            {{#each chamados}}
                <tr class="align-middle">
                    <td>{{dataValues.id}}</td>
                    <td>{{user.dataValues.user}}</td>
                    <td>{{dataValues.ocorrencia}}</td>
                    <td>{{dataValues.atendimento}}</td>
                    <td class="text-center">{{dataFinal}}</td>
                    <td class="text-center">
                        <a href="/admin/chamado/encerrado/{{dataValues.id}}"><button type="button" class="btn btn-secondary text-white mt-2" ><i class="fa-solid fa-circle-info" style="margin-right: 8px;"></i>Detalhar</button></a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>