<script src="/js/updatechamado.js"></script>
<script src="/js/spinner.js"></script>

<div class="container p-0 mt-2">
    <div class="row">
        <div class="col">
            <h2>Chamado: {{chamado.dataValues.id}}</h2>
        </div>
        <div class="col text-end">
            <div class="mobile">
                <div class="dropdown">
                    <button class="btn text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #4784ba;">Ferramentas</button>
                    <ul class="dropdown-menu">
                        {{#if chamSis}}
                        {{else}}
                        <li><button class="btn bg-transparent border-0" type="button" data-bs-toggle="modal" data-bs-target="#materiasModal"><i class="fa-solid fa-screwdriver-wrench"></i> Materiais</button></li>
                        <li><button class="btn bg-transparent border-0" type="button" data-bs-toggle="modal" data-bs-target="#transferirModal" id="transfer" onclick="trasnferChamado()"><i class="fa-solid fa-share-from-square"></i> Transferir</button></li>
                        {{/if}}
                        <li><button class="btn bg-transparent border-0" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-comment"></i> Observações</button></li>
                    </ul>
                </div>
            </div>
            <div class="web">
                {{#if chamSis}}
                {{else}}
                <button class="btn text-white" type="button" data-bs-toggle="modal" data-bs-target="#transferirModal" id="transfer" style="background-color: #4784ba;" onclick="trasnferChamado()"><i class="fa-solid fa-share-from-square"></i> Transferir</button>
                <button class="btn text-white" type="button" data-bs-toggle="modal" data-bs-target="#materiasModal" style="background-color: #4784ba;"><i class="fa-solid fa-screwdriver-wrench"></i> Materiais</button>
                {{/if}}
                <button class="btn text-white" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;"><i class="fa-solid fa-comment"></i> Observações</button>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="card border-0 bg-transparent mt-4">
    <div class="card-body p-0 mt-4">
        <h4>Status: {{chamado.dataValues.status}}</h4>
        <div class="container p-0">
            <div class="row">
                <div class="col">
                    <label class="mt-2">Unidade:</label>
                        <input type="text" id="unidade" placeholder="ocorrência/chamado" class="form-control mb-2" value="{{chamado.user.dataValues.user}}">
                </div>
                <div class="col">
                    <label class="mt-2">Email:</label>
                        <input type="text" id="email" placeholder="ocorrência/chamado" class="form-control mb-2" value="{{chamado.user.dataValues.email}}">
                </div>
            </div>
        </div>
        <input type="hidden" id="idChamado" value="{{chamado.dataValues.id}}">
        
        <label class="mt-2">Solicitante:</label>
        <input type="text" id="solicitante" placeholder="Solicitante" class="form-control mb-2" value="{{chamado.dataValues.nome}}">
        
        <label class="mt-2">Local:</label>
        <input type="text" id="local" placeholder="ocorrência/chamado" class="form-control mb-2" value="{{chamado.dataValues.local}}">
        
        <div class="container p-0">
            <div class="row p-0">
                <div class="col">
                    <label for="ocorrencia">Ocorrência: </label>
                    <input type="text" name="ocorrencia" id="ocorrencia" value="{{chamado.dataValues.ocorrencia}}" class="form-control mb-2" readonly>
                </div>
                <div class="col" id="ptm" style="display: none;">
                    <label for="patrimonio" id="ptmLabel">Selb: </label>
                    <input type="text" name="patrimonio" value="{{equipamento.dataValues.patrimonio}}" class="form-control mb-2" readonly>
                </div>
            </div>
        </div>
        
        <label for="dsc">Descrição: </label>
        <textarea id="descricao" class="form-control" placeholder="Descrição do chamado" id="floatingTextarea" style="height: 7rem; resize: none;">{{chamado.dataValues.descricao}}</textarea>
        
        <form action="/admin/chamado/atendimento/encerrar" method="post" class="mt-4">
            <input type="hidden" name="id" value="{{chamado.dataValues.id}}">
            <button type="submit" class="btn text-white" style="background-color: #C23F5C;"><i class="fa-solid fa-xmark"></i> Encerrar chamado</button>
        </form>
    </div>
</div>


{{!-- Modal Observações --}}
<div class="modal fade modal-centerd" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #236192;">Observações</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/chamado/atendimento/observacao" method="post">
                <div class="modal-body bg-0">
                    <div class="overflow-auto p-3 bg-0" style="max-height: 22rem; height: 22rem;">
                        {{#each obs}}
                            <div class="bg-light p-2 mb-4 rounded">
                                <h6>{{dataValues.user}} - {{dataAbertura}}</h6>    
                                <p class="text-justify" style="word-wrap: break-word;">{{dataValues.obs}}</p>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="chamado_id" value="{{chamado.dataValues.id}}">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <textarea class="form-control" name="obs" required placeholder="Mensagem" style="height: 4rem; resize: none"></textarea>
                            </div>
                            <div class="col-1 text center" style="min-width: 50px;">
                                <button type="submit" class="btn text-white rounded-circle" style="background-color: #4784ba;"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Modal Materiais --}}
<div class="modal fade modal-centerd" id="materiasModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #236192;">Materiais Utilizados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-0">
                <form action="/admin/chamado/atendimento/material" method="post">
                    <input type="hidden" name="chamado_id" value="{{chamado.dataValues.id}}">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-8">
                                <select class="form-select mb-2" aria-label="Default select example" name="item_id" required>
                                    <option selected>Selecione um material</option>
                                    {{#each materiais}}
                                        <option value={{dataValues.id}}>{{dataValues.item}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="number" name="quantidade" placeholder="Quantidade" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn text-white mt-2" style="background-color: #4784ba;">Adicionar</button>
                </form>
                <hr>
                <div class="overflow-auto p-3 bg-0" style="max-height: 22rem; height: 22rem;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Item</th>
                                <th scope="col" class="text-center">quantidade</th>
                                <th scope="col" class="text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each saidaMateriais}}
                                <tr class="align-middle">
                                    <td>{{dataValues.id}}</td>
                                    <td>{{item.dataValues.item}}</td>
                                    <td class="text-center">{{dataValues.quantidade}}</td>
                                    <td class="text-center">
                                        <form action="/admin/chamado/atendimento/material/delete" method="post">
                                            <input type="hidden" name="chamado_id" value="{{dataValues.chamado_id}}">
                                            <input type="hidden" name="item_id" value="{{dataValues.item_id}}">
                                            <button type="submit" class="btn btn-danger" style="background-color: #C23F5C;"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Transferir --}}
<div class="modal fade modal-centerd" id="transferirModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #236192;">Transferir chamado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-0">
                <form action="/admin/chamado/atendimento/transferir" method="post" onsubmit="javascript:spinner()">
                    <input type="hidden" name="id" value="{{chamado.dataValues.id}}">
                    <label>Enviar para</label>
                    <select class="form-select mb-2" aria-label="Default select example" name="email" required>
                        <option selected>Selecione um contato</option>
                        {{#each contatos}}
                            <option value={{dataValues.email}}>{{dataValues.email}}</option>
                        {{/each}}
                    </select>

                    <label>Descrição do chamado</label>
                        <textarea class="form-control mb-4" name="message" id="corpoemail" style="height: 12rem; resize: none" readonly></textarea>

                    <label>Técnico</label>
                    <select class="form-select mb-2" aria-label="Default select example" name="assinatura">
                        <option selected>Selecione uma identificação</option>
                        {{#each assinaturas}}
                            <option value="{{dataValues.assinatura}}">{{dataValues.nome}}</option>
                        {{/each}}
                    </select>

                    <label>Observações técnicas</label>
                        <textarea class="form-control mb-4" name="obsTech" placeholder="Observações" style="height: 10rem; resize: none"></textarea>

                    <button type="submit" class="btn text-white" style="background-color: #4784ba;">enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<button id="btnspinner" class="btn bg-transparent" type="button" data-bs-toggle="modal" data-bs-target="#spinner" hidden></button>
<div class="modal fade modal-centerd" id="spinner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="container text-center">
                <div class="spinner-border" style="color: #236192;">
                    <span  class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.onload(mostrarPatrimonio())
    function mostrarPatrimonio(){
        let ocrr = document.getElementById('ocrr') 
        if(ocrr.value == 'impressora'){
            if(ocrr.value == 'impressora'){
                document.getElementById('ptmLabel').innerHTML = 'Selb:'
            }else{
                document.getElementById('ptmLabel').innerHTML = 'Patrimônio:'
            }
            document.getElementById('ptm').style.display = 'block'

        }else{
            console.log(ocrr.value)
            document.getElementById('ptm').style.display = 'none'
        }
    }
</script>

