<h2 class="m-0">Chamados Encerrados</h2>
<hr>

{{#each chamados}}
    <div class="bg-light rounded p-2 mb-4">    
        <h4 style="color: #236192;"># {{dataValues.id}} - {{dataValues.ocorrencia}}/{{dataValues.atendimento}}</h4>
        <h6>Local: {{dataValues.local}}</h6>
        <h6>Telefone: {{dataValues.telefone}}</h6>
        <h6>Solicitante: {{dataValues.nome}} - {{user.dataValues.email}}</h6>
    </div>
{{/each}}
