<div class="container p-0">
    <div class="row">
        <div class="col" style="max-width: 25rem;">
            <h2 class="m-0 mt-4">Equipamentos</h2>
        </div>
        <div class="col text-end">
            <button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;">Cadastrar equipamento</button>
        </div>
    </div>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Equipamento</th>
            <th scope="col">Patrimônio/Selb</th>
            <th scope="col">Unidade</th>
            <th scope="col">local</th>
            <th scope="col" class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        {{#each equipamentos}}
            <tr class="align-middle">
                <td>{{dataValues.id}}</td>
                <td>{{dataValues.equipamento}}</td>
                <td>{{dataValues.patrimonio}}</td>
                <td>{{user.dataValues.user}}</td>
                <td >{{dataValues.local}}</td>
                <td class="text-center">
                    <form action="/admin/equipamentos/delete" method="post">
                        <input type="hidden" name="id" value="{{dataValues.id}}">
                        <button type="submit" class="btn btn-danger mt-2" style="background-color: #C23F5C;"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="modal fade modal-centerd" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastro de equipamentos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <label class="mt-2">Equipamento</label>
                        <input type="text" name="equipamento" placeholder="Equipamento" class="form-control mb-2">
                    <label>Patrimonio/Selb</label>
                        <input type="text" name="patrimonio" placeholder="Patrimônio ou selb" class="form-control mb-2">
                    <label>Unidade</label>
                        <select class="form-select mb-2" name="user_id" required>
                            <option value="0" selected>Selecione uma unidade</option>
                            {{#each usuarios}}
                            <option value={{dataValues.id}}>{{dataValues.user}}</option>
                            {{/each}}
                        </select>
                    <label>Local</label>
                        <input type="text" name="local" placeholder="Local/Setor/Sala" class="form-control mb-4">
                    <button type="submit" class="btn text-white form-control mb-2" style="background-color: #236192;">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>