<div class="container p-0">
    <div class="row">
        <div class="col" style="max-width: 25rem;">
            <h2 class="m-0 mt-4">Equipamentos</h2>
        </div>
        <div class="col text-end">
            <button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;">Cadastrar equipamento</button>
        </div>
    </div>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Identificação</th>
            <th scope="col">Equipamento</th>
            <th scope="col">Patrimônio</th>
            <th scope="col">Unidade</th>
            <th scope="col">local</th>
            <th scope="col" class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        {{#each equipamentos}}
            <tr class="align-middle">
                <td>{{dataValues.id}}</td>
                <td>{{dataValues.equipamento}}</td>
                <td>{{dataValues.patrimonio}}</td>
                <td>{{dataValues.unidade}}</td>
                <td >{{dataValues.local}}</td>
                <td class="text-center">
                    <form action="/admin/materiais/delete" method="post">
                        <input type="hidden" name="id" value="{{dataValues.id}}">
                        <button type="submit" class="btn btn-danger mt-2" style="background-color: #C23F5C;"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>