{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<h2>Lista de usuários</h2>
<button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;"><i class="fa-solid fa-user"></i> Novo usuário</button>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Usuarios</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col" class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        {{#each listsolicitantes}}
            <tr class="align-middle">
                <td>{{dataValues.user}}</td>
                <td>{{dataValues.email}}</td>
                <td>{{dataValues.telefone}}</td>
                <td class="text-center">
                    <form action="/admin/cadastro/usuario/delete" method="post">
                        <a href="/admin/cadastro/usuario/edit/{{dataValues.id}}"><button type="button" class="btn text-white mt-2" style="background-color: #4784ba;"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <input type="hidden" name="id" value="{{dataValues.id}}">
                        <button type="submit" class="btn btn-danger mt-2" style="background-color: #C23F5C;"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


<div class="modal fade modal-centerd" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <label class="mt-2">Unidade:</label>
                        <input type="text" name="user" placeholder="Unidade" class="form-control mb-2">
                    <label>E-mail:</label>
                        <input type="text" name="email" placeholder="E-mail do setor" class="form-control mb-2">
                    <label>Telefone:</label>
                        <input type="text" name="telefone" placeholder="Telefone para contato" class="form-control mb-2">
                    <label>Senha:</label>
                        <input type="text" name="password" placeholder="Defina uma senha" class="form-control mb-2">
                    <label>Acesso:</label>
                    <select class="form-select mb-4" name="acesso" id="acesso">
                        <option value="0" selected>Solicitante</option>
                        <option value="1">Administrador</option>
                    </select>
                    <button type="submit" class="btn text-white form-control mb-2" style="background-color: #236192;">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>