<div class="web" class="container p-0">
  <div class="row align-bottom">
    <div class="col-8 align-self-end">
      <h3 class="m-0">Chamados: {{user.dataValues.email}}</h3>
    </div>
    <div class="col text-end">
      <button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;">Novo chamado</button>
    </div>
  </div>
</div>

<div class="mobile">
  <h3 class="m-0">Chamados: {{user.dataValues.email}}</h3>
  <button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;">Novo chamado</button>
</div>

<hr>

<div class="row row-cols-1 row-cols-md-4 g-4">
  {{#each listchamados}}
    <div class="col" style="min-width: 20rem;">
      <div class="card shadow-sm">
        <div class="card-header border-light" style="background-color: #f6f7f9;">
          <h5 class="card-title">Chamado: <label>{{dataValues.id}}</label></h5>
        </div>
        <div class="card-body">
          <span class="mt-2" style="color: #646E78;">Local</span>
            <h6>{{dataValues.local}}</h6>
          <span class="mt-2" style="color: #646E78;">Ocorrência</span>
            <h6>{{dataValues.ocorrencia}}</h6>
          <span class="mt-2" style="color: #646E78;">Solicitante</span>
            <h6>{{dataValues.nome}}</h6>

          {{#if inOpen}}
            <div class="mt-4 mb-2" style="height: 0.5rem; background-color: #C23F5C;"></div>
          {{else if inProcess}}
            <div class="mt-4 mb-2" style="height: 0.5rem; background-color: #FFC145;"></div>
          {{else if transfer}}
            <div class="mt-4 mb-2" style="height: 0.5rem; background-color: #fb8500;"></div>
          {{else closed}}
            <div class="mt-4 mb-2" style="height: 0.5rem; background-color: #32A071;"></div>
          {{/if}}
          <h5 class="mb-4">Status: <label>{{dataValues.status}}</label></h5>
          <form action="/usuarios/chamados/encerrar" method="post">
            <input type="hidden" name="id" value="{{dataValues.id}}">
            <a href="/usuarios/chamados/edit/{{dataValues.id}}"><button type="button" class="btn text-white" style="background-color: #4784ba;">Visualizar</button></a>
            <button type="submit" class="btn btn-danger" style="background-color: #C23F5C;">Encerrar</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<div class="modal fade modal-centerd" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #236192;">Novo chamado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <label for="ocorrencia">Ocorrência: </label>
          <select class="form-select col" aria-label="Default select example" name="ocorrencia" required>
              <option value="" disabled selected>Tipo de ocorrência</option>
              <option value="computador">Computador</option>
              <option value="impressora">Impressora</option>
              <option value="rede de internet">Rede de internet</option>
              <option value="sistema">Sistema</option>
              <option value="outros">Outros</option>
          </select>
          <label for="local">Local: </label>
            <input type="text" name="local" placeholder="Local/unidade" class="form-control mb-2" required>
          <label for="nome">Solicitante: </label>
            <input type="text" name="nome" placeholder="Nome do solicitante" class="form-control mb-2" required>
          <label for="telefone">Telefone: </label>
            <input type="text" name="telefone" placeholder="Telefone para contato" class="form-control mb-2" required>
          <label for="descricao">Descrição: </label>
            <textarea name="descricao" class="form-control" placeholder="Descrição do chamado" id="floatingTextarea" style="height: 7rem; resize: none;" required></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn text-white mt-2" style="background-color: #4784ba;">Enviar</button>
          <a href="/usuarios/chamados"><button type="button" class="btn btn-danger mt-2" style="background-color: #C23F5C;">Cancelar</button></a>
        </div>
      </form>
    </div>
  </div>
</div>


